body {
  font-size: 16pt;
}

header {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  padding: 1em;
    #user_nav {
      width: 400px;
      margin-left: auto;
      float: right;
      font-size: 14pt;
    }
}

nav {
  margin: auto;

  ul {
    background-color: #888888;
    border-top: solid 1px #888888;
    border-bottom: solid 1px #888888;
    margin: 0 0 1.5em 0;

    li {
      a {
        color: #eee;
      }
      display: inline;
      padding: 0.25em;
      margin-right: 1em;
      font-size: 12pt;
      font-weight: bold;
      line-height: 2em;
    }
  }
}

/* #content { */
  /* width: 960px; */
  /* margin: auto; */
  /* padding-left: 1em; */
  /* padding-right: 1em; */

  /* label { padding-right: 0.5em; } */
/* } */

footer {
  padding: 0;
  margin: 0;
  height: 30px;
  line-height: 1.4em;
  background-color: #888888;
  color: #eee;
}

/*************************************
 ** MISC
*************************************/
div.row div h2 { margin-bottom: 0.5em; }


